@import base/all

$defaultMargin: 0
$avatarSize: 50px

$grey-color: #acacac

body
    background: white
    margin: $defaultMargin
    font-family: sans-serif
    font-size: 0.8em
    padding: 20px


a
    text-decoration: none

a.author
    color: #47d3ff

ul
    list-style-type: none


.colorGrey
    color: $grey-color


.comments
    display: block

.comments .cmmnt
    margin-top: 20px

    p
        font-size: 1.2em
        margin: 0

.comments .cmmnt, ul .cmmnt, ul ul .cmmnt
    display: block
    position: relative
    padding-left: 65px

.comments .cmmnt .avatar
    position: absolute
    top: 0
    left: 0

    a img
        width: $avatarSize
        height: $avatarSize
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px


    a:hover img
        opacity: 0.77
