mixin comment(item, number, reply)
    .avatar
        a(href=item.profile)
            img(src=item.avatar)
    div
        header
            |  #{number} 
            a.author(href=item.profileLink) #{item.author}
            span.colorGrey
                if reply
                    |  &#8617; #{reply}
                | &#8226; #{item.date}
        p #{item.comment}
        a.colorGrey(href="#") Reply
        |  
        a.colorGrey(href="#") Share >
    
mixin comments(items, indexString, reply)
    ul(class=(reply ? 'replies' : 'comments'))
        each item, index in items
            li.cmmnt
                - var newIndex = index + 1
                
                if indexString
                    - var newIndexString = indexString.concat('.' + newIndex)
                    +comment(item, newIndexString, reply)
                else
                    - var newIndexString = indexString.concat(newIndex)
                    +comment(item, newIndex, reply)
                if item.child
                    +comments(item.child, newIndexString, item.author)
