include content
include mixins/mixins

extends _layouts/_frame

block body
	h1 Первое домашнее задание "Jade+Sass"
	+comments([
	    {'comment': 'THREE CHEERS FOR BERT! HIP HIP...', 'date': '14 days ago', 'author': 'DinosaurFaceOverlord','avatar': 'http://cs7.pikabu.ru/images/big_size_comm_an/2014-03_7/13962622876915.gif', 'profileLink': 'http://test.com', 'child': [
	        {'comment': 'JORGE!', 'date': '14 days ago', 'author': 'stetsonaw','avatar': 'https://media.giphy.com/media/RUUdVZqwpfTRS/giphy.gif', 'profileLink': 'http://test.com'},
	        {'comment': 'I read that as 3 cheers for beer...hooray!', 'date': '14 days ago', 'author': 'katkelly57','avatar': 'http://cs7.pikabu.ru/images/big_size_comm_an/2014-03_7/13962622876915.gif', 'profileLink': 'http://test.com', 'child': [
	            {'comment': 'That too!', 'date': '14 days ago', 'author': 'DinosaurFaceOverlord','avatar': 'http://cs7.pikabu.ru/images/big_size_comm_an/2014-03_7/13962622876915.gif', 'profileLink': 'http://test.com'}
	        ]},
	        {'comment': 'hurrah?', 'date': '14 days ago', 'author': 'Well Meaning','avatar': 'http://cs7.pikabu.ru/images/big_size_comm_an/2014-03_7/13962622876915.gif', 'profileLink': 'http://test.com'}
	    ]},
	    {'comment': 'We all know the most intresting thing that happend in the Bleacher NAtion commentary #CouchGate', 'date': '14 days ago', 'author': 'AlfondoGonz','avatar': 'https://media.giphy.com/media/RUUdVZqwpfTRS/giphy.gif', 'profileLink': 'http://test.com'},
	    {'comment': 'Go Cubbies...this is the year.', 'date': '14 days ago', 'author': 'ShadrachSmith','avatar': 'http://images6.fanpop.com/image/photos/33100000/CARRIE-FISHER-anakin-vader-and-princess-leia-33186069-190-149.gif', 'profileLink': 'http://test.com'}
	], '', '')
	#root
